.profile {
    &__header {
        border-top: none;
        background-image: url("https://i.imgur.com/JTjy2Of.jpg");
        background-size: cover;
        background-position: center center;
        padding: 0px;
        text-align: center;
    }

    &__avatar {
        // text-align: center;
        // margin-top: 15px;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        background-size: cover;
        background-position: center center;
        margin: 2rem auto;
    }

    &__name {
        background-color: rgba($secondary, 0.9);
        padding: 20px;
        margin-top: 15px;
        color: $offwhite;
    }

    &__name h2 {
        font-size: 60px !important;
        color: $offwhite;
        padding: 0px;
        margin: 0px;
    }

    &__name h3 {
        font-size: 38px !important;
        color: $offwhite;
        padding: 0px;
        margin: 5px;
    }

    &__name, &__about, &__links {
        text-align: center;
        color: $offblack;
    }

    &__usertitle {
        font-style: italic;
        color: $offwhite;
        font-size: 24px;
        padding: 0px;
        margin: 0px;
    }

    &__subheader {
        font-style: italic;
        color: $offwhite;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }

    &__xp {
        font-size: 50px;
        text-align: center;
        margin: auto;
    }
}

.profile_avatar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.post_avatar {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.post_avatar_cp {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center center;
    vertical-align: middle;
}

.post {
    &__name {
        font-size: 25px !important;
        color: $offwhite;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    &__avatar {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        background-size: cover;
        background-position: center center;
        margin: 2rem auto;
    }

    &__usertitle {
        font-style: italic;
        color: $offblack;
        font-size: 13px;
        padding: 0px;
        margin: 0px;
    }

    &__xp {
        font-size: 30px;
        text-align: center;
        margin: auto;
    }

    .stats {
        margin: 0xp;
    }

    .reaction {}
}
