.footer {
    background-color: darken($offblack, 10%);

    // min-height: 250px;
    // text-align: center;
    color: $white;
    border-top: 1rem solid $primary;

    a {
        color: $primary;
    }

    &__col {
        width: 20%;
        float: left;
        min-height: 1px;
        padding: 2rem 0;

        img {
            padding: 2rem;
            max-width: 80%;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    &__title {
        color: $white;
        font-family: $headingfont;
    }

    &__link {
        color: $white;
    }

    &__text {
        color: $offwhite;
        font-size: small;
        margin-left: 25px;
    }
}
