.form {
    &__input {
        width: 100%;
        display: block;
        border: 0;
        border-bottom: 2px solid rgba($offblack, 0.4);
        outline: none;
        padding: 1.5rem;
        font-size: 1.75rem;
        font-family: $fontfamily;
        margin: 1.75rem 0;
        background-color: rgba($offwhite, 0.35);

        @include transition;

        &:hover {
            border-color: $primary;
        }

        &:focus {
            border-bottom: 2px solid $primary;
        }
    }

    &__description {
        display: block;
        font-weight: 300;
        text-transform: none;
        float: left;
    }

    &__group {
        width: 100%;
        float: left;

        &--half {
            @media all and (min-width: $tablet) {
                width: 49%;

                &:nth-of-type(odd) {
                    margin-right: 2%;
                }
            }
        }

        &--third {
            @media all and (min-width: $tablet) {
                width: 31%;
                margin: 1%;
            }
        }
    }

    &__submit {
        clear: both;
        width: 100%;
        float: left;
        border-top: 1px solid rgba($offblack, 0.4);
        text-align: center;
        margin-top: 2rem;

        &--no-border {
            border-top: 0;
        }

        input[type="submit"] {
            padding: 2rem;
            text-decoration: none;
            display: inline-block;
            border-radius: 1rem;
            transition: all 0.3s ease;
            background-color: $primary;
            border: 1px solid $primary;
            color: $white;
            font-weight: bold;
            font-size: 2rem;
            cursor: pointer;
            margin: 2rem 0;

            &:hover {
                background-color: transparent;
                color: $primary;
            }
        }
    }

    &__checkbox {
        width: 33.33%;

        &--full {
            width: 100%;
        }

        &--half {
            width: 50%;
        }

        @media all and (max-width: $tablet) {
            width: 50%;
        }

        display: block;
        float: left;
        padding: 1rem;

        label {
            text-transform: uppercase;
            font-weight: 500;
        }

        span {
            padding: 0 2rem;
            cursor: pointer;
        }
    }

    &__radio {
        margin-top: 1rem;
        margin-bottom: 1rem;
        float: left;
        width: 100%;

        label {
            display: block;
            width: 50%;
            float: left;
        }
    }

    &__radioinput {
        display: block;
        width: 50%;
        float: left;
        text-align: right;
        font-weight: bold;
        text-transform: uppercase;

        span {
            padding: 0 1rem;
            cursor: pointer;
        }
    }

    &__label {
        display: block;
        padding: 0.5rem 0;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.swal-content__input, .swal-content__textarea {
    @extend .form__input;
}
