.discussion-view {
  display: inline-block;
  width: 100%;
  background: #FFFFFF;
  text-align: center;
  position: relative;

  &-container {
    float: right;
    width: calc(100% - 310px); //835px;
    @media(max-width: 950px) {
      width: 100%;
    }
  }

  &-thread {
    display: inline-block;
    width: calc(100% - 30px);
    padding-top: 40px;
    border-bottom: 1px dotted #AAA;

    &--no-border {
        border-bottom: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
    &-avatar {
      float: left;
      width: 100px;
      margin-right: 15px;
      img {
        width: 75px;
        height: 75px;
        border-radius: 75px;
      }
      @media(max-width: 500px) {
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
      }
    }
    &-content {
      float: left;
      width: 76%;
      text-align: left;
      word-wrap: break-word;

      @media(max-width: 650px) {
        float: right;
        width: calc(100% - 125px);
      }

      @media(max-width: 500px) {
        float: none;
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }

      img {
          max-width: 100%;
      }

      &-title {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #0d72b9;
        margin-bottom: 15px;
        text-decoration: none;
      }
      &-text {
        font-size: 12px;
        font-weight: 600;
        color: #1a304d;
        line-height: 16px;
      }
      &-image {
          display: block;
          max-width: 100%;
          margin-top: 25px;
      }
      &-footer {
        display: block;
        text-align: left;
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 40px;
        @media(max-width: 500px) {
          text-align: center;
        }
        &-subject {
          display: inline-block;
          color: $orange;
          padding-right: 15px;
          margin-right: 15px;
          font-weight: 600;
          border-right: 1px solid #DDD;
        }
        &-time {
          display: inline-block;
          padding-right: 15px;
          color: #959595;
        }
        &-user {
          display: inline-block;
          border-left: 1px solid #DDD;
          padding-left: 15px;
          color: #959595;
        }
      }
    }

    &-reply {
      float: right;
      width: calc(100% - 145px);
      margin-right: 15px;
      @media(max-width: 950px) {
        width: calc(100% - 30px);
      }
    }
  }


  &-reply {
    display: block;
    background: #FFFFFF;
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 15px;
    &-title {
      display: block;
      font-size: 18px;
      font-weight: 600;
      color: #0d72b9;
      margin-bottom: 15px;
    }
    &-error {
      display: block;
      margin-bottom: 15px;
      color: $red;
      font-weight: 600;
      text-transform: uppercase;
    }
    &-editor {
      border: 1px dotted #AAA;
      width: calc(100% - 30px);
      max-width: calc(100% - 30px);
      min-width: calc(100% - 30px);
      padding: 15px;
      display: block;
      outline: 0;
      font-size: 18px;
      color: #777;
      min-height: 147px;
    }
    &-submit {
      display: inline-block;
      color: #FFFFFF;
      background: #0d72b9;
      text-align: center;
      padding: 7.5px 15px;
      margin-top: 15px;
      cursor: pointer;
      outline: 0;
      border: none;
      border-radius: 15px;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        background: $offblue;
      }
    }
  }

}
