.button,
input[type="submit"] {
    font: $fontweight $fontsize $headingfont;
    border: none;
    border-radius: 1.5rem;
    padding: 1.0rem 1.3rem 1.0rem 1.3rem;
    margin: 1rem;
    background-image: linear-gradient(-135deg, $secondary 0%, $primary 100%);
    display: inline-block;
    font-size: 1.6rem;
    box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.3);
    transition: all 0.25s ease;
    font-weight: 500;
    text-decoration: none;
    background-color: $primary;
    color: $offwhite;
    cursor: pointer;

    &:hover {
        color: $white;
        background-image: linear-gradient(-135deg, $secondary 0%, darken($secondary, 10%) 100%);
    }

    &.blue {
        color: $offwhite;
        background-image: linear-gradient(-135deg, $secondary 0%, darken($secondary, 10) % 100%);
        background-color: $secondary;

        &:hover {
            border-color: darken($secondary, 10);
            background-image: linear-gradient(-135deg, $secondary 0%, $secondary 100%);
            color: $white;
        }
    }

    &.lightblue {
        color: $tertiary;
        border-color: $tertiary;

        &:hover {
            background-color: $tertiary;
            color: $white;
        }
    }

    &.red {
        color: $white;
        background-color: #c92e2e;
        background-image: linear-gradient(-135deg, #c92e2e 0%, darken(#c92e2e, 5%) 100%);
        border-color: #C92E2E;

        &:hover {
            border-color: darken(#C92E2E, 10);
            background-color: darken(#C92E2E, 10);
            background-image: linear-gradient(-135deg, darken(#c92e2e, 10%) 0%, darken(#c92e2e, 10%) 100%);
            color: $white;
        }
    }

    &.block {
        @extend .u-center !optional;

        width: 100%;
        display: block;
        margin: 1rem;
    }

    &.right {
        @extend .u-pull-right !optional;
    }

    &.left {
        @extend .u-pull-left !optional;
    }

    &.large {
        font-size: 4rem;
        padding: 1rem 2.5rem 1rem 2.5rem;
    }

    &.small {
        font-size: 1.5rem;
        padding: 0.25rem 1rem 0.25rem 1rem;
    }

    &.extra-small {
        font-size: 1.15rem;
        padding: 0.25rem 0.65rem;
    }

    &.facebook {
        color: $facebook;
        border-color: $facebook;
        background-color: transparent;
        background-image: none;

        i {
            color: $facebook;
        }

        &:hover {
            background-color: $facebook;
            color: $white;
        }
    }

    &.twitter {
        color: $twitter;
        border-color: $twitter;
        background-color: transparent;
        background-image: none;

        i {
            color: $twitter;
        }

        &:hover {
            background-color: $twitter;
            color: $white;
        }
    }

    &.google {
        color: $google;
        border-color: $google;
        background-color: transparent;
        background-image: none;

        i {
            color: $google;
        }

        &:hover {
            background-color: $google;
            color: $white;
        }
    }

    &.tumblr {
        color: $tumblr;
        border-color: $tumblr;
        background-color: transparent;
        background-image: none;

        i {
            color: $tumblr;
        }

        &:hover {
            background-color: $tumblr;
            color: $white;
        }
    }

    &.youtube {
        color: $youtube;
        border-color: $youtube;
        background-color: transparent;
        background-image: none;

        i {
            color: $youtube;
        }

        &:hover {
            background-color: $youtube;
            color: $white;
        }
    }

    &.twitch {
        color: $twitch;
        border-color: $twitch;
        background-color: transparent;
        background-image: none;

        i {
            color: $twitch;
        }

        &:hover {
            background-color: $twitch;
            color: $white;
        }
    }

    &.icon {
        i {
            margin: 0;
            margin-right: 10px;
            max-width: 8px;
            text-align: center;
        }

        &:hover {
            i {
                color: $white;
            }
        }
    }
}

.button i {
    color: $offwhite;
}

.reaction {
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.swal-button {
    @extend .button;
}
