.card {
    margin-right: 2rem;
    float: left;
    padding: 0.5rem;
    transition: all 0.3s ease;
    overflow: hidden;

    &:hover {
        .card__content {
            box-shadow: 0 0 5px lighten(rgba($offblack, 0.75), 40%);
        }

        .card__image {
            background-size: 110%;
        }

        .card__title a, .card__footer i {
            color: $secondary;
        }
    }

    &__content {
        float: left;
        clear: both;
        padding: 1rem;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }

    &__image {
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        height: 0;
        padding-bottom: 52.56%;
        transition: all 0.5s ease-in-out;
    }

    &__title {
        font-size: 2rem;
        margin: 0 0 1rem 0;
        display: block;
    }

    &__footer {
        float: left;
        width: 100%;

        i {
            transition: all 0.2s ease;
        }

        .button {
            margin: 1rem 0;
        }
    }

    &__info {
        text-transform: uppercase;
        color: darken($offwhite, 40%);
        padding: 1rem 0;
        display: block;
    }
}
