.hero {
    width: 100%;
    min-height: 80rem;
    position: relative;
    background-image: url("../img/demo-img/fallout.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    margin-bottom: 2rem;

    &__parallax {
        background-attachment: fixed;
        background-position: center center;
    }

    &__container {
        width: 50%;
        min-height: 75rem;
        margin: unset;
        max-width: unset;
    }

    &__content {
        max-width: 60rem;
        margin: 25rem 0 0 auto;
    }
}