.search {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    float: right;
    padding: 1.2rem 0;


    &__input {
        width: 50%;
        float: right;
        border: 0;
        border-bottom: 2px solid rgba($offblack, 0.4);
        outline: none;
        font-size: 1.75rem;
        font-family: $fontfamily;
        background-color: rgba($offwhite, 0.35);
        padding: 1.5rem 1rem;

        // &:before {
        //     font-family: 'FontAwesome';
        //     content: '&#xF002';
        // }

        @include transition;

        &:focus {
            width: 100%;
            border-bottom: 2px solid rgba($primary, 0.75);
        }
    }
}

.search__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CCCCCC;
}
.search__input::-moz-placeholder { /* Firefox 19+ */
    color: #CCCCCC;
}
.search__input:-ms-input-placeholder { /* IE 10+ */
    color: #CCCCCC;
}
.search__input:-moz-placeholder { /* Firefox 18- */
    color: #CCCCCC;
}
.search__input:placeholder-shown {
    color: #FFFFFF;
}