.carousel {
  display: block;
  margin: 30px auto;
  border: 2px solid #d7d7d7;
  box-shadow: inset 0px 0px 3px #d7d7d7;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
}
