.file-upload-container {
  display: block;
  border: 2px dashed #CCC;
  color: #aaa;
  padding: 25px;
  text-align: left;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
  i, span {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    margin-right: 15px;
  }
}
