.section-hero {
  display: block;
  width: 100%;
  height: 315px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 25px solid #FFFFFF;
  @media(max-width: $tablet) {
      height: 200px;
  }
}
