h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 1rem 0;
    font-family: $headingfont;
}

h1,
.h1 {
    font-size: $fontsize * 2.5;
}

h2,
.h2 {
    font-size: $fontsize * 2.25;
}

h3,
.h3 {
    font-size: $fontsize * 2;
}

h4,
.h4 {
    font-size: $fontsize * 1.75;
}

h5,
.h5 {
    font-size: $fontsize * 1.5;
}

h6,
.h6 {
    font-size: $fontsize * 1.25;
}

a,
i {
    color: $primary;
}

i {
    &.fa {
        margin: 1rem;
    }
}

a {
    font-weight: bold;
    text-decoration: none;

    @include transition;

    &:hover, &:active, &:focus {
        color: $secondary;
        text-decoration: none;
    }

    i {
        @include transition;

        &:hover, &:active, &:focus {
            color: $secondary;
            text-decoration: none;
        }
    }
}

pre {
    code {
        display: block;
        line-height: 1.75;
        padding: 1em 1.5em;
        overflow-x: auto;
    }
}

code {
    background-color: rgba($offwhite, 0.75);
    border-radius: 0.4rem;
    border: 1px solid #c9c9c9;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

hr {
    border-top: 1px solid;
    border-bottom: 0;
    border-color: rgba($primary, 0.4);
}

blockquote {
    border-left: 0.5rem solid rgba($primary, 0.5);
    padding-left: 2rem;
    margin: 2rem 0;

    @include transition;

    &:hover, &:active, &:focus {
        border-color: $primary;
    }
}

cite {
    font-weight: 100;
    color: $primary;
    display: block;
    margin-left: 0.5rem;
    padding: 1rem 0;
    font-size: 1.25rem;
}

b, strong {
    font-weight: 800;
}
