footer {
  text-align: center;
  color: #959595;
  background: #eeede3;
  padding: 80px 0 35px 0;
  .footer-social {
    i {
      margin: 0 5px;
      font-size: 24px;
      vertical-align: middle;
    }
    a {
      color: #959595;
    }
    @media(max-width: 500px) {
      span {
        display: block;
        margin-bottom: 25px;
      }
    }
  }
  .footer-nav {
    display: block;
    margin-top: 60px;
    ul {
      li {
        display: inline-block;
        padding: 10px;
        @media(max-width: 500px) {
          display: block;
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          color: #959595;
        }
      }
    }
  }
  .footer-nav-secondary {
    margin-top: 0;
    ul li a {
      font-size: 11px;
      font-weight: 400;
    }
  }
}

.footer-social a {
  transition: .3s all ease-in-out;
}

.footer-social--facebook {
  &:hover, &:focus {
    color: #4867aa;
  }
}

.footer-social--twitter {
  &:hover, &:focus {
    color: #1da1f2;
  }
}

.footer-social--linkedin {
  &:hover, &:focus {
    color: #0077b5;
  }
}