header {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 25px 0;
  background: #FFF;
  text-align: center;

  > div {
    display: inline-block;
    width: 100%;
    max-width: 1140px;
  }

  .header-logo {
    float: left;
  }

  .header-email {
    float: right;
    width: calc(100% - 200px);
    text-align: right;
    font-weight: 600;
    color: #707070;
    text-decoration: none;
  }

  .header-account {
    float: right;
    width: calc(100% - 200px);
    text-align: right;
    margin-top: 18px;
    margin-bottom: 22px;
    a {
      font-weight: 600;
      color: #707070;
      text-decoration: none;
      margin-left: 15px;
      span {
        display: inline-block;
        background: $blue;
        height: 11px;
        width: 40px;
        border-radius: 15px;
        margin-left: 5px;
      }
    }
  }

  nav {
    float: left;
    width: calc(100% - 285px);
    text-align: center;
    ul {
      li {
        display: inline-block;
        border-right: 2px solid #dbdbdb;
        padding: 0 6px;
        margin-left: -4px;
        position: relative;
        a {
          text-decoration: none;
          color: #707070;
          font-weight: 600;
          font-size: 14.5px;
        }
        img {
          float: right;
          margin-top: 6px;
          margin-left: 5px;
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: #ffffff;
          padding: 40px 15px 15px 15px;
          text-align: left;
          box-shadow: 8px 40px 50px rgba(0,0,0,0.25);
          z-index: 20;
          li {
            border-right: none;
            white-space: nowrap;
            a {
              display: block;
              padding: 8px 0;
              white-space: nowrap;
            }
          }
        }
        &:hover {
          ul {
            display: inline;
          }
        }
      }
      li:last-of-type {
        border-right: none;
      }
    }
  }

  li.exams-active {
    a {
      color: $offblue;
    }
  }
  li.jobs-active, li.discussion-active {
    a {
      color: $red;
    }
  }
  li.cvsupport-active {
    a {
      color: $lightblue;
    }
  }
  li.cpd-active {
    a {
      color: $yellow;
    }
  }
  li.uni-corner-active {
    a {
      color: $orange;
    }
  }

  .header-burger {
    display: none;
    float: right;
    width: 80px;
    padding: 2px 0;
    margin-right: 25px;
    cursor: pointer;
    &:hover {
      .header-burger-text {
        color: #0d72b9;
      }
    }
    &-icon {
      float: left;
      width: 25px;
      margin-top: 1.5px;
      div {
        display: block;
        width: 100%;
        height: 2px;
        background: #0d72b9;
      }
      div:nth-child(3n + 2) {
        margin: 3px 0;
      }
    }
    &-text {
      float: right;
      text-transform: uppercase;
      color: #707070;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .header-search {
    float: right;
    width: 85px;
    img, input {
      float: left;
    }
    input {
      float: right;
      border: none;
      outline: none;
      width: calc(100% - 20px);
      font-size: 14px;
      font-weight: 600;
      color: #707070;
      text-transform: uppercase;
    }
  }

  .nav-mobile-actions, .nav-account {
    display: none;
  }
}


/**
* Responsive Navigation.
*
*/
@media(max-width: 1100px) {

  header {
    > div {
      width: 96%;
    }
  }

  header .header-burger {
    display: inline;
  }

  .navigation-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 49;
    background: rgba(0,0,0,0.35);
    cursor: pointer;
  }

  header nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #0d72b9;
    z-index: 50;
    text-align: center;
    padding: 10px 0;
    overflow-y: scroll;
    > ul {
      margin-bottom: 75px;
    }
    ul {
      text-align: left;
      li {
        display: block;
        border-right: none;
        margin: 0;
        padding-right: 30px;
        position: inherit;
        a {
          display: inline-block;
          width: calc(100% - 45px);
          padding: 10px 0 10px 15px;
          color: #ffffff!important;
        }
        img {
          margin-top: 15px;
        }

        ul {
          display: inline-block;
          width: 100%;
          position: relative;
          top: auto;
          left: auto;
          padding: 0;
          background: none;
          box-shadow: none;
          li {
            a {
              padding-left: 25px;
              color: #ffffff!important;
            }
          }
        }
      }
    }
  }

  header .nav-account {
    display: inline-block;
    margin: 25px auto;
    width: 90%;
    text-align: left;
    color: #ffffff;
    > div {
      display: inline-flex;
      vertical-align: middle;
      align-items: center;
      width: 100%;
    }
    &-avatar {
      float: left;
      width: 75px;
      border-radius: 75px;
    }
    &-info {
      float: right;
      width: calc(100% - 100px);
      padding-left: 25px;
      &-username {
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
      }
      a {
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        margin-right: 35px;
      }
    }
  }

}


@media(max-width: 650px) {

  header {
    text-align: center;

    .header-logo {
      float: none;
      display: block;
      margin: 0 auto;
    }

    .header-email {
      float: none;
      display: block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      padding: 25px 0;
    }

    .header-burger {
      float: none;
      display: inline-block;
      margin: 0;
    }

    .header-search, .header-account {
      display: none;
    }

  }

}
