html, body {
  font-family: $font;
  background: #f8f8f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear {
  clear: both;
}


small {
  font-size: 12px;
}

strong, b {
  font-weight: 600;
}
