$blue: #0d72b9;
$lightblue: #6fcbf3;
$offblue: #598bc8;
$darkblue: #002157;
$red: #d62731;
$yellow: #ffd600;
$green: #a7b819;
$darkgreen: #489e35;
$orange: #ef7900;
$purple: #7e65aa;
$salary: #a7b939;
$regional: #489e35;
$white: #FFFFFF;
$facebook: #4867aa;
$twitter: #1da1f2;

$tablet: 768px;
$mobile: 650px;

// GRID
$gridcolumns: 12;
