// COLORS
$black: #000;
$offblack: #444;
$white: #FFF;
$offwhite: #EEE;
$grey: #f2f2f2;

// BRAND
// BRAND COLOURS
$blue: #364363;
$orange: #e38229;

// SOCIAL NETWORK
$facebook: #365397;
$twitter: #00a9f1;
$google: #4285f4;
$youtube: #ff3333;
$tumblr: #304c68;
$twitch: #6441a5;

// BETTER VARIABLE NAMES
$primary: $facebook;
$secondary: $google;
$tertiary: $tumblr;

// MEDIA QUERIES
$lrg: 1400px;
$med: 993px;
$sm: 769px;
$exsm: 481px;
$iphone: 321px;

// ALIAS THE SIZES FOR EASE OF READING
$desktop: $lrg;
$laptop: $med;
$tablet: $sm;
$phone: $exsm;

// FONTS
$fontfamily: "Roboto", sans-serif;
$fontsize: 16px;
$fontweight: 300;
$headingfont: "Crete Round", sans-serif;
$navfont: $headingfont;

// ANIMATE CONFIG
$use-fadeIn: true;
$use-fadeInUp: true;
$use-slideInRight: true;
$use-slideInLeft: true;
