.blogs {
    clear: both;

    .discussion-pagination {
        margin: 20px 0;
    }

    .col-4 {
        @media(max-width: $tablet){
            width: 100%;
        }
    }
}
.article {
    background-color: $white;
    margin: .5em;

    &__image {
        text-align: center; 
        background-size: cover;
        background-position: center;
        padding-bottom: 15em;
        border-bottom: 2px solid $blue;
        margin-bottom: 1em;
    }

    &__title {
        a {
            display: block;
            text-decoration: none;
            font-size: 24px;
            font-weight: 600;
            color: $blue;
            border-bottom: none !important;
            padding: 0em .7em;
            line-height: 28px;
        }
    }

    &__teaser {
        padding: 1em;
        line-height: 21px;
        padding-bottom: 1.5em;
    }

    &__button {
        padding: 1em;
        padding-top: .5px;
        padding-bottom: 1.5em;
    }

    &__social {
        margin: 10px 0;
        display: inline-block !important;
        
        &--facebook {
            i {
                color: $facebook;
            }
        }

        &--twitter {
            i {
                color: $twitter;
            }
        }

        i {
            font-size: 30px;
            margin: 0 5px;
            display: inline-block;
        }
    }
}