/**
* Company information.
*/
.job-company-info {
  margin: 50px 0;
  display: inline-block;
  width: 100%;
  &-logo {
    float: left;
    width: 265px;
  }
  &-content {
    float: right;
    width: calc(100% - 300px);
    text-align: left;
    p {
      margin-top: 0;
    }
  }
  &-additional {
    display: block;
    margin-top: 35px;
    p {
      margin: 0;
    }
  }
}


/**
* Job list.
*/
.job-list-container {
  display: block;
  text-align: center;
  &-inner {
    display: inline-block;
    width: 96%;
    max-width: 1140px;
    text-align: left;
  }
}

#jobFiltering {
  @media (min-width: 800px) {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }
}

.job-list-banner {
  width: calc(100% - 20px);
  background: #FFFFFF;
  border: 1px solid #d4d4d4;
  padding: 30px 10px;

  @media (min-width: 800px) {
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    display: none;
  }

  > div {
    font-size: 18px;
    font-weight: 600;
    color: #1a304d;
  }
  &-location-label {
    @media (max-width: 800px) {
      margin-bottom: 20px;
    }
  }
  &-location-search {
    -webkit-appearance: none;
    padding: 7.5px 5px;
    width: 100%;
    max-width: 325px;
    background: #ffffff;
    font-size: 16px;
    border: 1px solid #d4d4d4;
    border-radius: 0px;
    outline: 0;

    @media (min-width: 800px) {
      margin-left: 10px;
    }

    &::placeholder {
      color: #acacac;
    }
  }
  &-sort-by {
    margin: 25px 0;

    @media (min-width: 800px) {
      margin: 0 25px;
      display: flex;
      align-items: center;
    }

    select {
      appearance: none;
      border: 0;
      background: #1a304d;
      color: #ffffff;
      border-radius: 25px;
      padding: 10px;
      font-size: 15px;
      margin-left: 10px;



      &:hover, &:focus {
        cursor: pointer;
      }
    }
  }
  &-showing {
    margin-left: auto;

    @media (max-width: 800px) {
      margin-top: 20px;
    }
  }

  button {
    background: #1a304d;
      color: #ffffff;
      border-radius: 25px;
      text-align: center;
      font-size: 15px;
      padding: 10px 20px;
      border: 0;

      @media (min-width: 800px) {
        margin-left: 10px;
        margin-right: 10px;
      }

  }
}

.job-list-sidebar {
  @media (min-width: 768px) {
    float: left;
    width: 265px;
  }

  @media (max-width: 768px) {
    display: none;
  }

  &-title {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: #1a304d;
    margin: 30px 0;
  }
  &-inner {
    background: #1a304d;
    padding: 5px 20px 20px 20px;
    > div {
      display: block;
      margin: 30px 0;
    }
  }

  &-item {
    display: block;
    color: #FFFFFF;

    &-checkbox, &-label {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
    }

    &-select {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      display: block;
      width: 100%;
      padding: 7.5px 5px;
      background: #ffffff;
      font-size: 16px;
      border: 1px solid #d4d4d4;
      border-radius: 0px;
      outline: 0;
      color: #acacac;
      background-image:url(/images/icons/select-arrows.png);
      background-repeat: no-repeat;
      background-position: center right 10px;
      &-default {
        color: #acacac;
      }
    }

    &-input {
      -webkit-appearance: none;
      display: block;
      width: calc(100% - 12px);
      padding: 7.5px 5px;
      background: #ffffff;
      font-size: 16px;
      border: 1px solid #d4d4d4;
      border-radius: 0px;
      outline: 0;
      &::placeholder {
        color: #acacac;
      }
    }

    &-title {
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }

  &-button {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    background: #ffffff;
    color: #1a304d;
    border: none;
    text-align: center;
    padding: 5px 30px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
  }

}

.checkbox-wrapper {
  input[type="checkbox"], input[type="radio"] {
    display: none;
  }
	label {
		cursor: pointer;
		position: relative;
		margin-bottom: 15px;
		display: block;
		min-height: 25px;
		padding-left: 35px;
		line-height: 22px;
		&:before {
			left: 0;
			top: 0;
			position: absolute;
			content: '';
			height: 20px;
			width: 20px;
			border: 1px solid #e0e7ee;
      background: #FFFFFF;
		}
	}
	input[type=radio]:checked + label, input[type=checkbox]:checked + label {
		&:before {
			background-image: url(/images/icons/tick.png);
			background-size: 75%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.job-list-vacancies {
  width: 100%;

  @media (min-width: 768px) {
    float: right;
    width: calc(100% - 300px);
  }

  &-title {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: #1a304d;
    margin: 30px 0;
  }

  a {
    text-decoration: none;
  }
}

/**
* Actual job item.
*/
.job-list-item {
  position: relative;
  padding: 30px;
  display: inline-block;
  width: calc(100% - 60px);
  border-bottom: 1px dotted #d4d4d4;

  @media (max-width: 768px) {
    text-align: center;
  }

  &:last-of-type {
    border-bottom: none;
  }
  &-featured {
    background: #FFFFFF;
    border: 1px solid #d4d4d4;
    margin-bottom: 30px;
  }
  &-logo {
    max-width: 150px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    @media (max-width: 768px) {
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
    }

  }
  &-content {
    @media (min-width: 768px) {
      float: left;
      width: calc(100% - 160px);
    }
  }
  &-button {
    background: #1a304d;
    text-decoration: none;
    text-align: center;
    padding: 7.5px 25px;
    color: #FFFFFF;
    border-radius: 25px;
    margin-top: 20px;
    display: inline-block;

    @media (min-width: 768px) {
      position: absolute;
      right: 30px;
      bottom: 30px;
    }
  }

  &-title {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: #0d72b9;
    margin-bottom: 15px;
  }
  &-text {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #1a304d;
    line-height: 18px;
    margin-bottom: 30px;
    min-height: 50px;
  }
  &-list {
    display: inline-block;
    font-size: 16px;
    color: #0d72b9;
    margin-bottom: 12px;
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-key {
      float: left;
      font-weight: 600;
      text-align: left;
      width: 49%;
    }
    &-value {
      float: right;
      width: 49%;
      text-align: right;
    }
  }
}


/**
* Advertise with us toggles.
*/
.advertising-toggle-item {
  margin-bottom: 50px;

  &-specification {
    width: calc(100% - 100px);
    background: #fff;
    padding: 50px;
    &-title {
      display: block;
      font-size: 29px;
      font-weight: 600;
      color: #0d72b9;
    }
    &-spec {
      display: block;
      margin: 0 auto;
      width: 945px;
      max-width: 100%;
      background: #1a304d;
      font-size: 31px;
      color: #ffffff;
      text-align: center;
      margin-top: 35px;
      &-large {
        height: 446px;
        line-height: 446px;
      }
      &-medium {
        height: 223px;
        line-height: 223px;
      }
      &-small {
        height: 100px;
        line-height: 100px;
      }
    }

    &-number {
      display: block;
      font-size: 29px;
      font-weight: bold;
      color: #1a304d;
      margin-top: 15px;
      a {
        color: #1a304d;
        text-decoration: none;
        word-break: break-all;
      }
    }
  }

  &-form {
    background: #fff;
    width: 825px;
    max-width: 100%;
    border: 2px solid #DDD;

    form {
      width: 625px;
      max-width: calc(100% - 50px);
      margin: 25px;
    }

    &-error {
        display: block;
        text-align: left;
        color: $red;
        margin-bottom: 7.5px;
        margin-top: 15px;
    }

    &-item {
      display: inline-block;
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
      label {
        float: left;
        font-size: 18px;
        font-weight: 600;
        color: #1a304d;
        width: 165px;
        line-height: 42px;

        @media(max-width: 500px) {
            float: none;
            display: block;
            width: 100%;
        }

      }
      input {
        float: right;
        width: calc(100% - 230px);
        border: 2px solid #ddd;
        height: 37px;
        outline: 0;
        padding: 0 15px;
        font-size: 20px;

        @media(max-width: 500px) {
            float: none;
            display: block;
            width: calc(100% - 30px);
        }

      }
    }
    &-item-full {
      label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #1a304d;
        margin-bottom: 15px;
      }
      textarea {
        display: block;
        width: calc(100% - 34px);
        min-width: calc(100% - 34px);
        max-width: calc(100% - 34px);
        border: 2px solid #ddd;
        height: 150px;
        min-height: 150px;
        max-height: 150px;
        outline: 0;
        padding: 15px;
        font-size: 20px;
      }
    }
    &-submit {
      float: right;
      outline: 0;
      -webkit-appearance: none;
      background: #1a304d;
      padding: 7px 25px;
      color: #fff;
      border-radius: 15px;
      margin-top: 30px;
      font-size: 18px;
      border: none;
      cursor: pointer;
    }

    &-bar {
      display: block;
      width: 100%;
      height: 30px;
      background: $red;
      margin-top: 30px;
    }
  }

}


.job-list-filter-toggle {
  display: none;
  @media (max-width: 768px) {
    display: block;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 15px 20px;
    border: 1px solid #d3d3d3;
    font-family: $font;
    font-size: 16px;
    font-weight: 600;
    width: calc(100% - 40px);
    cursor: pointer;
  }
}
