.survey-results {
  &-container {
    display: inline-block;
    background: #ffffff;
    padding: 25px;
    width: calc(100% - 50px);
  }
  &-title {
    display: block;
    font-size: 29px;
    font-weight: 600;
    color: #1a304d;
    margin-bottom: 25px;
  }

  &-table {
    margin-bottom: 50px;
    width: 48%;
    
    &:nth-child(odd) {
      float: right;
      clear: right;
    }
    &:nth-child(even) {
      float: left;
      clear: left;
    }
    @media(max-width: 1000px) {
      width: 100%;
    }
    td, th {
      padding: 5px 20px;
      border: 1px solid #aaa;
      text-align: center;
    }
    th {
      font-weight: bold;    
    }
    tbody {
      tr {
        &:nth-child(even) {
          td {
            background: #e9edf8
          }
        }
      }
    }
  }
}
