.support-lists {
    ul, ol {
        margin-left: 1.5em;
        li {
            line-height: 1.5em;
        }
    }

    ul {
        list-style: circle;
    }

    ol {
        list-style: decimal;
    }
}
